@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section contentTitle
{
<section class="title-custom-page">
    <div class="row ml-1">
        <div>
            <p class="text-header-sic">Dashboard</p>
        </div>      
    </div>
</section>
}

@section contentBody{
   
   

}