@*<div class="box-alliance">
  <div class='card-alliance'>
    <div class="round-tag">Usuario asociado a:</div>
    <div class='box-logo-alliance'>
      <img class='logo-alliance' src="" id="objImgAlianza"/>
    </div>
    $1$<div class='box-valorations'>
      <svg></svg>
      <span>1,947 Valoraciones</span>
    </div>#1#
  </div>
</div>*@