<section class='box-header' id='status-header'>
  <div class='center-v h100'>
    <button class='margin-l press-aside' id="toggleButton" onclick="openAside();">
      <span id="icon-line-bar" class="hidden">
        <svg width="16" height="16" viewBox="0 0 20 16">
          <g id="menu" transform="translate(-19 -17)">
            <rect width="20" height="2" rx="1" transform="translate(19 17)" fill="#FFFFFF"/>
            <rect width="10" height="2" rx="1" transform="translate(19 24)" fill="#FFFFFF"/>
            <rect width="20" height="2" rx="1" transform="translate(19 31)" fill="#FFFFFF"/>
          </g>
        </svg>
      </span>

      <span id="icon-arrow-bar" class="">
          <svg width="16" height="16" viewBox="0 0 20 16">
              <g id="menu" transform="translate(-19 -17)">
                  <rect width="20" height="2" rx="1" transform="translate(19 17)" fill="#FFFFFF"></rect>
                  <rect width="10" height="2" rx="1" transform="translate(19 24)" fill="#FFFFFF"></rect>
                  <rect width="20" height="2" rx="1" transform="translate(19 31)" fill="#FFFFFF"></rect>
              </g>
          </svg>
          @*<svg width="16" height="16" viewBox="0 0 24.439 20.299">
              <path d="M23.065,49.907l.038.008H6.75l5.141-5.152a1.35,1.35,0,0,0,0-1.9l-.8-.8a1.338,1.338,0,0,0-1.889,0L.39,50.875a1.347,1.347,0,0,0,0,1.9L9.2,61.583a1.339,1.339,0,0,0,1.889,0l.8-.8a1.324,1.324,0,0,0,.39-.944,1.284,1.284,0,0,0-.39-.926l-5.2-5.181H23.083a1.385,1.385,0,0,0,1.355-1.371V51.228A1.358,1.358,0,0,0,23.065,49.907Z" transform="translate(0 -41.674)" fill="#fff" />
          </svg>*@
      </span>

    </button>
  </div>

  @*<svg class="logo-head" width="279.796" height="42.644" viewBox="0 0 279.796 42.644"> <g id="app-oncosalud" transform="translate(-50.385 -36.178)"> <g id="Grupo_11" data-name="Grupo 11"> <path id="Trazado_49" data-name="Trazado 49" d="M86.431,58.175V50.647h7.5v3.761a3.761,3.761,0,0,1-3.756,3.767ZM101.5,61.946a3.766,3.766,0,0,0-3.763,3.772v3.758h7.51v-7.53Z" fill="#bed600"/> <path id="Trazado_50" data-name="Trazado 50" d="M70.977,69.462H65.364V67.423H65.3c-.946,1.832-3.278,2.68-5.479,2.68-5.949,0-9.433-4.678-9.433-10.067C50.385,53.865,54.817,50,59.818,50c3.076,0,4.8,1.493,5.479,2.647h.067v-2h5.613ZM60.662,64.849A4.8,4.8,0,1,0,56,60.107a4.64,4.64,0,0,0,4.664,4.742" fill="#00abc8"/> <path id="Trazado_51" data-name="Trazado 51" d="M140.358,69.462h-5.617V67.423h-.069c-.942,1.832-3.278,2.68-5.474,2.68-5.95,0-9.434-4.678-9.434-10.067C119.764,53.865,124.19,50,129.2,50c3.077,0,4.8,1.493,5.474,2.647h.069v-2h5.617Zm-10.314-4.613a4.8,4.8,0,1,0-4.669-4.742,4.641,4.641,0,0,0,4.669,4.742" fill="#00abc8"/> <path id="Trazado_52" data-name="Trazado 52" d="M90.194,61.95H86.365a2.96,2.96,0,0,1-3.145,2.867c-3.013,0-3.013-2.477-3.013-3.767V50.644H74.6V61.9c0,2.575.194,3.932,1.687,5.795a7.092,7.092,0,0,0,5.506,2.373,5.011,5.011,0,0,0,4.635-2.17V69.48h7.5V65.592a3.708,3.708,0,0,0-3.738-3.642" fill="#00abc8"/> <path id="Trazado_53" data-name="Trazado 53" d="M101.49,58.172h3.828a2.958,2.958,0,0,1,3.146-2.864c3.013,0,3.013,2.478,3.013,3.761V69.475h5.608V58.223c0-2.573-.2-3.932-1.687-5.8a7.107,7.107,0,0,0-5.512-2.372,5.011,5.011,0,0,0-4.633,2.171V50.642h-7.5v3.89a3.708,3.708,0,0,0,3.74,3.64" fill="#00abc8"/> </g> <g id="Grupo_12" data-name="Grupo 12"> <path id="Trazado_54" data-name="Trazado 54" d="M162.362,37.1a10,10,0,0,1,.962,1.906c.924,2.857,1.832,5.719,2.663,8.6.55,1.912,1.046,3.84,1.556,5.764,1.336-.076,2.714-.155,4.308-.257,3.154-.2,6.319-.266,9.48-.322a5.436,5.436,0,0,1,2.012.458,1.22,1.22,0,0,1,.487,1.993,3,3,0,0,1-1.026.826,16.1,16.1,0,0,1-2.451.925c-4.207,1.152-7.078,2.059-11.045,3.133.649,2.608.634,4.758,1.12,6.728a35.921,35.921,0,0,1,.919,7.329c-.056,1.942-.738,3.5-2.7,4.118a6.215,6.215,0,0,1-2.256.505,2.418,2.418,0,0,1-2.673-1.374,11.645,11.645,0,0,1-.7-2.959,121.141,121.141,0,0,0-1.915-12.544,28.033,28.033,0,0,0-5.091.505c-2.88.706-3.8.883-6.7,1.485a5.487,5.487,0,0,1-3.9-1.012c-1.47-1.342-1.249-4.1-.99-4.728a4.265,4.265,0,0,1,3.06-2.318,85.333,85.333,0,0,1,11.987-1.946c.329-.029.6-.045.913-.07-.295-3.268-.615-6.535-.833-9.808-.137-2.063-.085-4.14-.075-6.21a1.786,1.786,0,0,1,1.271-1.625A1.507,1.507,0,0,1,162.362,37.1Z" fill="#bed600"/> <circle id="Elipse_9" data-name="Elipse 9" cx="4.343" cy="4.343" r="4.343" transform="translate(168.889 41.787)" fill="#00abc8"/> </g> <g id="Grupo_13" data-name="Grupo 13"> <path id="Trazado_55" data-name="Trazado 55" d="M207.363,60.6c0,5.626-4.053,9.924-9.469,9.924a7.575,7.575,0,0,1-6.08-2.97v2.515h-4.473V43.513h4.543V53.542a7.6,7.6,0,0,1,6.045-2.9C203.31,50.642,207.363,54.975,207.363,60.6Zm-4.647-.035a5.509,5.509,0,1,0-5.486,5.766A5.444,5.444,0,0,0,202.716,60.565Z" fill="#00abc8"/> <path id="Trazado_56" data-name="Trazado 56" d="M229.062,62.208H214.6c.559,2.446,2.341,4.367,5.8,4.367a11.708,11.708,0,0,0,6.255-1.957l1.817,3.25a14.259,14.259,0,0,1-8.246,2.621c-7.129,0-10.273-4.892-10.273-9.924a9.5,9.5,0,0,1,9.853-9.923c5.347,0,9.4,3.529,9.4,9.539A17.284,17.284,0,0,1,229.062,62.208ZM214.6,58.748h10.133a4.779,4.779,0,0,0-4.927-4.3A5.183,5.183,0,0,0,214.6,58.748Z" fill="#00abc8"/> <path id="Trazado_57" data-name="Trazado 57" d="M232.73,51.1H237.2v2.656a6.584,6.584,0,0,1,5.975-3.145c3.843,0,7.442,2.516,7.442,7.9V70.069h-4.577V59.761c0-3.249-1.712-5-4.158-5-2.726,0-4.613,2.1-4.613,5.067V70.069H232.73Z" fill="#00abc8"/> <path id="Trazado_58" data-name="Trazado 58" d="M273.088,62.208H258.622c.559,2.446,2.341,4.367,5.8,4.367a11.713,11.713,0,0,0,6.255-1.957l1.817,3.25a14.262,14.262,0,0,1-8.247,2.621c-7.128,0-10.273-4.892-10.273-9.924a9.5,9.5,0,0,1,9.854-9.923c5.346,0,9.4,3.529,9.4,9.539A17.3,17.3,0,0,1,273.088,62.208Zm-14.466-3.46h10.133a4.779,4.779,0,0,0-4.927-4.3A5.182,5.182,0,0,0,258.622,58.748Z" fill="#00abc8"/> <path id="Trazado_59" data-name="Trazado 59" d="M285.177,42.815a9.618,9.618,0,0,1,4.857,1.223L288.741,47.6a6.835,6.835,0,0,0-2.865-.734c-2.027,0-3.18,1.188-3.18,3.424v.8h5.94V54.94H282.7V70.069h-4.542V54.94h-3.005V51.1h3.005V50.5C278.154,45.365,281.019,42.815,285.177,42.815Zm5.9,3.11a2.883,2.883,0,1,1,2.9,2.9A2.813,2.813,0,0,1,291.082,45.925Zm.594,5.171h4.543V70.069h-4.543Z" fill="#00abc8"/> <path id="Trazado_60" data-name="Trazado 60" d="M314.283,68.951a10.071,10.071,0,0,1-5.486,1.573c-4.3,0-6.5-2.586-6.5-7.408V54.94h-3.145V51.1h3.215V44.387h4.508V51.1h6.359V54.94h-6.359v8c0,2.237.8,3.425,2.76,3.425a6.224,6.224,0,0,0,3.215-.979Z" fill="#00abc8"/> <path id="Trazado_61" data-name="Trazado 61" d="M315.156,66.785l2.586-2.8a6.567,6.567,0,0,0,5.1,2.691c1.643,0,2.8-.873,2.8-1.992,0-.8-.524-1.362-1.433-1.817-1.083-.524-3.529-1.362-4.717-1.956a5.191,5.191,0,0,1-3.18-4.822c0-3.25,2.691-5.626,6.884-5.626a8.431,8.431,0,0,1,6.5,2.8l-2.376,2.9a6.026,6.026,0,0,0-4.263-1.956c-1.467,0-2.306.8-2.306,1.782,0,.664.419,1.4,1.642,1.852,1.223.489,3.075,1.118,4.578,1.887,2.1,1.118,3.214,2.585,3.214,4.822,0,3.354-2.865,6.01-7.372,6.01A9.2,9.2,0,0,1,315.156,66.785Z" fill="#00abc8"/> </g> </g> </svg>*@

  @*<div class="dev-mod margin-r">
    <input class="switch-input hidden" type="checkbox" id="themeSwitch">
    <label class="i-toggle switch-label" for="themeSwitch"></label>
  </div>*@
</section>