<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet" />

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section contentTitle{
<section class="title-custom-page">
    <div class="row ml-1">
        <div>
            <p class="text-header-sic">Usuarios</p>
        </div>
        <div class="ml-auto mr-3">
            <button id="btn-modal-user" class="btn btn-primary">Agregar Usuario</button>
        </div>
    </div>
</section>
}

@section contentBody
{
@*<div id="divModalEditUser"></div>
    <div id="divModalAddUser"></div>*@
<div id="div-tabla" class="bg-table shadow">
    <section class="w100 space-between margin-b wrap">

        @* <div>
            Rol&nbsp;
            <select id="cboRoleFilter" class="select"></select>
            </div> *@

        <div class="center-v w100xs xs-margin-t">
            <div class="box-search">
                <input type="text" id="search" class="search-child" placeholder="Busqueda" autocomplete="off" />
                <div class="box-icon" id="">
                    <i class="fas fa-search icon"></i>
                </div>
            </div>
            <div class="i-btn-circle margin-l i-delete" id="btn-cancelar-busq">
                <i class="fas fa-times icon"></i>
                <span class="">Cancelar</span>
            </div>
            <div class="i-btn-expand margin-l i-filter-role" id="btn-filter-busq">
                <i class="fas fa-filter icon" id="btn-filter-icon"></i>
                <select id="cboRoleFilter" class="input mb-0" autocomplete="none">
                    <option value="" disabled selected>[Seleccione]</option>
                    @if(Session["user"] != null)
                    {
                    User user = (User)Session["user"];
                    if(user.FK_ROLE==1)
                    {
                    <option value="1">SUPER ADMINISTRADOR</option>
                    }

                    }
                    <option value="2">ADMINISTRADOR</option>
                    <option value="3">SUPERVISOR</option>
                    <option value="4">COLABORADOR</option>
                </select>
            </div>                   
        </div>
        <div class="center-v w100xs xs-margin-t">
            <button id="ExportReporttoExcel" class="btn btn-primary"><i class="far fa-file-excel"></i> Exportar</button> 
        </div>
    </section>
    <section class="scroll-md w100">
        <small class="sic-text-small">
            Ultima consulta : <span id="timeServer"></span>
        </small>
        <table id="tbl-users" class="box-table">
            <thead class="thead">
                <tr class="row-box text-center">
                    <th class="title">ID</th>
                    <th class="title">NOMBRES</th>
                    <th class="title">AP.PATERNO</th>
                    <th class="title">AP.MATERNO</th>
                    <th class="title">T. DOC</th>
                    <th class="title">DOCUMENTO</th>
                    <th class="title">EMPRESA</th>
                    <th class="title">EMAIL</th>
                    <th class="title">ROL</th>
                    <th class="title">ESTADO</th>
                    <th class="title"></th>
                </tr>
            </thead>
            <tbody id="tbody-users"></tbody>
        </table>
    </section>
</div>

<div class='modal fade' id='modal' role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class='modal-content'>
            <input type="hidden" id="idUser">
            <div class='modal-header'>
                <h5 id="modal-title" class='modal-title'>Agregar Usuario</h5>
            </div>
            <div class='modal-body'>
                @if (Session["user"] != null)
                {
                User user = (User)Session["user"];
                if(user.FK_ROLE==1){
                <div id="rowCboCompany" class="row">
                    <div class="col-8 ant-form-group">
                        <span>Empresa</span>
                        <select id="cboCompany" class="input" autocomplete="none">
                            <option value="" disabled selected>[Seleccione]</option>
                        </select>
                    </div>
                </div>
                }
                }

                <div class="row">
                    <div class="col-6 ant-form-group">
                        <span>Roles</span>
                        <select id="cboRole" class="input" autocomplete="none">
                            <option value="" disabled selected>[Seleccione]</option>
                            @if(Session["user"] != null)
                            {
                            User user = (User)Session["user"];
                            if(user.FK_ROLE==1)
                            {
                            <option value="1">SUPER ADMINISTRADOR</option>
                            }

                            }
                            <option value="2">ADMINISTRADOR</option>
                            <option value="3">SUPERVISOR</option>
                            <option value="4">COLABORADOR</option>
                        </select>
                    </div>
                    <div class="col-6 ant-form-group">
                        <span>Estado</span>
                        <select id="cboEstado" class="input" autocomplete="none">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ant-form-group">
                        <span>Nombres</span>
                        <input class="input" type="text" autocomplete="none" placeholder="Nombres" id="txtName"
                            required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 ant-form-group">
                        <span>Apellido Paterno</span>
                        <input class="input" type="text" autocomplete="none" placeholder="Apellido Paterno"
                            id="txtlastNameP">
                    </div>
                    <div class="col-6 ant-form-group">
                        <span>Apellido Materno</span>
                        <input class="input" type="text" autocomplete="none" placeholder="Apellido Materno"
                            id="txtlastNameM">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 ant-form-group">
                        <span>Tipo de documento</span>
                        <select id="cboTipoDoc" class="input" autocomplete="none">
                            <option value="" disabled selected>[Seleccione]</option>
                            <option value="DNI">DNI</option>
                            <option value="PAS">Pasaporte</option>
                            <option value="CE">Carnet de extranjería</option>
                        </select>
                    </div>
                    <div class="col-6 ant-form-group">
                        <span>Número de documento</span>
                        <input type="text" class="input" autocomplete="none" placeholder="Número de documento"
                            id="txtNumDoc" maxlength="10" onkeypress="fnvalidateOnlyNumbers(this)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 ant-form-group">
                        <span>Teléfono de contacto</span>
                        <input type="text" class="input" autocomplete="none" placeholder="Teléfono" id="txtTelefono"
                            maxlength="10">
                    </div>
                    <div class="col-6 ant-form-group">
                        <span>Género</span>
                        <select id="cboGender" class="input" autocomplete="none">
                            <option value="" disabled selected>[Seleccione]</option>
                            <option value="MASCULINO">Masculino</option>
                            <option value="FEMENINO">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 ant-form-group">
                        <span>Email</span>
                        <input type="email" class="input" autocomplete="none" placeholder="Email" id="txtEmail">
                    </div>
                    <div class="col-6 ant-form-group">
                        <span>Fecha de nacimiento</span>
                        <input type="date" class="input" autocomplete="none" id="txtNacimiento">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ant-form-group">
                        <span>Dirección</span>
                        <input type="text" class="input" autocomplete="none" placeholder="Dirección" id="txtDireccion">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-pink">Cerrar</button>
                <button type="button" id="btn-save-add" class="btn btn-blue">Grabar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="~/Content/sicv1/js/validateControls.js"></script>
<script src="~/Content/sicv1/js/User/controller.js"></script>

@*<script src="~/Content/moment/moment.min.js"></script>

    <script src="~/Content/sicv1/js/User/list.js"></script>
    <script src="~/Content/sicv1/js/User/search.js"></script>
    <script src="~/Content/sicv1/js/User/edit.js"></script>
    <script src="~/Content/sicv1/js/User/update.js"></script>
    <script src="~/Content/sicv1/js/User/add.js"></script>
    <script src="~/Content/sicv1/js/User/save.js"></script>*@
}